{% extends "layout.html" %}

{% block body %}
<div style="background-image: url('https://wallpapercave.com/wp/wp1830648.jpg')">
<h3>Hakkımda</h3>
<hr>
Merhabalar. Ben Rüştü Tamer Yurtsever. Enka Okulları'nda 10. sınıf öğrencisiyim. Bu internet sitesini 18 Haziran 2021 tarihinde kurdum. Bu siteyi kurmaktaki amacım Türkiye'deki iklim değişikliği hakkında yaptığım kişisel projemi herkes tarafından ulaşılabilir bir hale getirmektir. Kişisel projemin ürünü olan bu internet sitesinde genelde Türkiye'yi ele alan iklim değişikliği ve yenilenebilir enerji hakkında birçok yazı, görsel ve grafik bulabilirsiniz. Keyifli okumalar :) 
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock body %}